body {
    background: #ededef;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 25px; }
h1 {
text-align: center;
    }

.container {
    background-color: #353940;
    color: #FFFFFF;
    padding: 15px 15px;
}

.unit-conversion {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; 
    border-top: 1px solid #2B3036; 
    }

    .container input,
    .container select {
        background-color: #353940;
        color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px 10px;
        font: inherit;
    }
    